.categorias-grid
    display: grid
    grid-template-columns: auto auto auto
    align-items: baseline
    justify-content: space-around
    @media screen and (max-width: 480px) 
        grid-template-columns: auto 
    @media screen and (min-width: 480px) and (max-width: 900px) 
        grid-template-columns: auto auto