* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container-main{
    margin-top: 10vh;
}

main .ui.vertical.menu {
    float: left;
}

main .ui.grid>.column {
    width:190px !important;
    height:220px;
}

.infoProduto {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    line-height: 17px;
    width: 100%;
    white-space: normal;
    color: #666;
    text-transform: none;
}

.imagemProduto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

.precoProduto {
    font-weight: bold;
    font-size: 18px;
    color: #666;
    text-align: center;
    display: block;
    padding: 5px;
}

.pusher {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
.pusher > .footer {
    flex: 1;
}

.my-slider > .slick-list {
    padding: 1em;
}

.arrow-next {
    top: 50%;
    display: block;
    position: absolute;
    right: 25px;
}

.arrow-prev {
    top: 50%;
    display: block;
    position: absolute;
    left: -25px;
}
    