* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container-main{
    margin-top: 0vh;
}

main .ui.vertical.menu {
    float: left;
}

main .ui.grid>.column {
    width:190px !important;
    height:220px;
}

.infoProduto {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    line-height: 17px;
    width: 100%;
    white-space: normal;
    text-transform: none;
}

.imagemProduto {
    padding: 10px !important;
    background: none !important;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 70%;
}

.green-text{
    color: #40cd28;
}

.row-container{
    display: flex;
    flex-direction: row;
}

.precoProduto {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    display: block;
    padding: 5px;
}

.pusher {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
.pusher > .footer {
    flex: 1;
}

.my-slider > .slick-list {
    padding: 1rem;
}

.arrow-next {
    top: 50%;
    display: block;
    position: absolute;
    right: 15px;
}
@media screen and (max-width: 480px) {
    .arrow-next {
        right: -12px;
    }
}
@media screen and (min-width: 485px) {
    .arrow-next {
        right: -30px;
    }
}
@media screen and (min-width: 1000px) {
    .arrow-next {
        right: -40px;
    }
}
@media screen and (min-width: 1200px) {
    .arrow-next {
        right: 15px;
    }
}

.arrow-prev {
    top: 50%;
    display: block;
    position: absolute;
    left: -25px;
}

.ui.search > .results {
    height: 70vh;
    overflow: scroll;
}

.ui.header:first-child {
    margin-top: calc(2rem - 0.142857em);
}

.ui.card {
    height: 275px;
    width: 300px;
    overflow: hidden;
    box-shadow: 1px solid #1e0039;
    border: 1px solid #604d9e;
}

.ui.card>.content{
    background-color: #604d9e;
    color:#e4d6f8
}

.ui.cards>.card {
    box-shadow: none !important;
}

.carrinho-container {
    margin-top: 5vh;
}