
.menu>.item {
    cursor: pointer!important;
    position: relative;
}
.modal-carrinho-footer{
    width: 100%;
    height: 40px;
    /*border-top: solid 1px rgba(53, 53, 53, 0.58);*/
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.bold{
    font-weight: bold;
}
.modal-carrinho-footer>a{
    display: flex;
    margin: auto 0;
}
.popup-car{
    z-index: 9998!important;
}
.popup-item{
    display: flex!important;
    flex-direction: row!important;
}
.popup-item .image img{
     width: 60px!important;
 }
