.cart {    
    background-color: white;
    color: #573697;
}
.bg-menu-categorias{
    background-color: #9453f7 !important;
}
.menu-categorias{
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
    justify-content: center!important;
    /*background-color: #6a65d8!important;*/

}
.menu-principal {
    background-color: #573697 !important;
}
.menu-categorias a {
    color: #ffffff!important;
}
.menu-horizontal{
    position: sticky!important;
    top: 0!important;
    width: 100%!important;
    height: auto;
    z-index: 9997!important;
}
.ui.menu{
    margin: 0!important;
    border-radius: 0!important;
}


/***** Configuracoa para menu mobile *****/


.ui.segment {
    margin: 0!important;
    border: none!important;
    border-radius: 0!important;
}

.pusher {
    display: flex;
    flex-direction: column;
    min-height: 80vh!important;
}

.pusher > .footer {
    flex: 1;
}

.menu-mobile{
    display: none!important;
    background-color: #573697!important;
}

.dev-team{
    display: flex!important;
    flex-direction: row!important;
}

.btn-menu-mobile{
    display: none!important;
    position: absolute!important;
    z-index: 9999!important;
}

.icon-menu-mobile{
    background: transparent!important;
    /*color: #ffffff!important;*/
}
.sidebar{
    width: 200px!important;
}
.dev-team{
    display: flex!important;
    flex-direction: column!important;
}
.search-sidebar{
    display: none!important;
}
/*.search-sidebar .results {*/
    /*position: absolute!important;*/
    /*z-index: 9999!important;*/
/*}*/
.search-sidebar .input{
    width: -webkit-fill-available!important;;
}

@media only screen and (max-width: 800px) {
    .large-menu .item{
        display: none!important;
    }

    .menu-mobile{
        display: flex!important;
    }

    .btn-menu-mobile{
        display: flex!important;
    }

    .dev-team>.item {
        margin-right: 20px!important;
        width: 100px!important;
    }
    .search-header{
        display: none!important;
    }
    .search-sidebar{
        display: flex!important;
        width: auto!important;
        position: absolute!important;
        right: 2%!important;
    }
    .menu-categorias{
        justify-content: space-between!important;
    }
}