.infoProduto 
    text-align: center
    font-size: 14px
    font-weight: normal
    margin: 0
    overflow: hidden
    line-height: 17px
    width: 100%
    white-space: normal
    text-transform: none

.imagemProduto 
    padding: 10px !important
    background: none !important
    margin-left: auto
    margin-right: auto
    width: 65%
    height: 70%

.precoProduto 
    font-weight: bold
    font-size: 18px
    text-align: center
    display: block
    padding: 5px